$primary-color: blueviolet;
$secondary-color: aquamarine;

@mixin reset {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@mixin cor-e-texto($set-color-bg, $set-color-text) {
	width: 50%;
	background-color: $set-color-bg;

	.texto {
		margin-top: 40%;
		text-align: center;
		font-size: 150px;
		color: $set-color-text;
	}
}

* {
	@include reset;
}

.container {
	height: 100vh;
	display: flex;

	.esquerdo {
		@include cor-e-texto($primary-color, $secondary-color);
	}

	.direito {
		@include cor-e-texto($secondary-color, $primary-color);
	}
}
